ctrl_interface=/var/run/wpa_supplicant GROUP=netdev
update_config=1
country=no
network={
    ssid="eduroam"
    eap=PEAP
    key_mgmt=WPA-EAP
    phase2="auth=MSCHAPV2"
    identity="___________@uni-heidelberg.de"
    password="___________"
}

# network={
#     ssid="HOME-WIFI-NETWORK-NAME"
#     psk="HOME-WIFI-NETWORK-PASSWORD"
#     id_str="home"
# }
